.nav {
  padding: 20px;
  border-bottom: 1px solid var(--secondary-background);
  background-color: var(--secondary-background);
}

.link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--primary-color);
}

.active {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  margin-right: 20px;
  font-weight: bold;
}